.inicio {
  width: 100%;
  height: 100vh;
  background-color: #32374f;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .imagem {
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    background-color: #20264b;

    img {
      max-width: 100%;
      border-radius: 10px;
    }
  }

  .links {
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .link {
      display: flex;
      align-items: center;
      height: 50px;
      background-color: #20264b;
      border-radius: 10px;
      color: #eaeaea;

      .icone {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .titulo {
        width: 80%;
      }
    }
  }
}